.main-width {
  padding: 0.5rem 5rem;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #161828;
  color: white;
  padding: 2rem 5rem !important;
}

.strip {
  background-color: #28293d;
  font-size: 0.75rem;
  color: #c1c1c1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-download {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-download i {
  font-size: 2rem;
}

.top-head-nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.top-head-nav-links p:hover {
  text-decoration: underline;
  cursor: pointer;
}

#search-div {
  display: flex;
  align-items: center;
}

#search-div #categories {
  background-color: #3b3b47;
  border: none;
  color: #c1c1c1;
  outline: none;
  padding: 0.5rem 0.2rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border: 1px solid #3b3b47;
}

#search-div input {
  width: 400px;
  padding: 0.5rem 1rem;
  border: 1px solid #3b3b47;
  background-color: #1d1f34;
  color: white;
  outline: none;
}

#search-button {
  padding: 0.35rem 0.85rem;
  background-color: #2b987e;
  border: 1px solid #2b987e;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.15s ease;
  color: white;
  font-size: 1rem;
}

#search-button:active {
  background-color: #206d5b;
}

.logo {
  display: flex;
  color: white;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.5rem;
  letter-spacing: -0.1px;
}

.logo img {
  width: 2rem;
}

.logo p {
  font-family: "Lexend Giga", serif !important;
}

.location p:first-of-type {
  font-size: 0.75rem;
  color: #c1c1c1;
}

.location {
  margin-right: 5rem;
}

.location i {
  font-size: 1rem;
}

.address {
  font-size: 0.85rem;
  cursor: pointer;
}

#categories::-webkit-scrollbar {
  appearance: none;
  width: 0px;
}

.nav-options {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.5rem;
  color: #c1c1c1;
}

.nav-options i,
.nav-options .user {
  cursor: pointer;
}

.nav-options .hr {
  height: 1.5rem;
  border-right: 2px solid #c1c1c170;
}

.nav-options .user {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: white;
  border-radius: 50%;
  color: #161828;
}

.nav-options .ri-arrow-down-s-fill {
  margin-left: -1rem;
}
