@import url("https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}
body {
  background-color: #f1f3f4;
}

/* display data */
#product-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 90%;
  row-gap: 30px;
  margin: 40px auto;
  justify-items: center;
  height: 500px;
}

#single-product-div {
  width: calc(250px);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #f9fbfc;
  height: fit-content;
  border-radius: 5px;
  cursor: pointer;
}

#product-image-div > img {
  width: 250px;
  background-color: #e2e8ed;
}
#product-brand {
  font-size: 13px;
  color: #bfbfc1;
  font-weight: bold;
  padding: 5px 0px 5px 10px;
}
#product-brand + h3 {
  font-weight: bold;
  padding: 0 10px 10px;
}
#item-price-rate {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 10px;
}
