*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-height: 100vh;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
    background-color: #F1F3F4;
}
#header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #161828;
  height: 80px;
}

#header>img{
    height: 60px;
    padding: 10px 0px;
}
input{
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(102, 101, 101);
    text-align: center;
    font-size: 18px;
    background-color: #1d1f34;
    color: white;
}
#search-div{
    display: flex;
align-items: center;
}
#search-button{
    width: 50px;
    height: 31px;
    border-radius: 5px;
    border: 1px solid black;
    padding-top: 2px;
    margin-left: 2px;
}
#search-button>img{
    height: 25px;
    width: 25px;
    
}
#search-button:hover{
    background-color: rgb(211, 211, 211);
    border: 2px solid white;
}
#search-button:active{
    background-color: rgb(175, 174, 174);
    border: 2px solid white;
}
#search-button>img:hover{
    width: 27px;
    padding: 0;
}
#header>div>img{
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* display data */
#product-section{
   
display: grid;
grid-template-columns: repeat(5, 1fr);
width: 90%;
row-gap: 30px;
margin: 40px auto;
justify-items: center;
height: 500px;
}

#single-product-div{
width: calc(250px);
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
background-color: #F9FBFC;
height: fit-content;
border-radius: 5px;
cursor: pointer;
}

#product-image-div>img{
width: 250px;
background-color: #E2E8ED;
}
#product-brand{
    font-size: 13px;
    color: #BFBFC1;
    font-weight: bold;
    padding: 5px 0px 5px 10px;
}
#product-brand+h3{
    font-weight: bold;
    padding: 0 10px 10px;
}
#item-price-rate{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 10px;
}

