/* Search word section */
#search-value-display {
  font-size: 5rem;
  text-align: left;
  text-transform: uppercase;
  display: flex;
  align-items: start;
  line-height: 1;
  margin-top: 2rem;
}

#search-value-display span {
  font-size: 0.85rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e8ed;
  border-radius: 50%;
}

#search-value-display::before,
#search-value-display::after {
  content: '"';
  font-size: 2rem;
  display: inline-block;
}

/* Filter section */
.filter-sort {
  display: flex;
  align-items: end;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-sort button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid #363636;
  background-color: transparent;
  font-weight: 600;
}

.filter-sort button:hover {
  transition: all ease 0.25s;
  background-color: #363636;
  color: white;
  cursor: default;
}

.filter-sort button:focus {
  transition: all ease 0.25s;
  background-color: #363636;
  color: white;
}

.sort-by {
  position: relative;
}

.sort-options {
  position: absolute;
  top: 3rem;
  right: 0;
  width: 200%;
  background-color: white;
  border-radius: 0.5rem;
  z-index: 10;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: none;
}

.show {
  display: block;
}

.sort-option {
  margin-block: 0.25rem;
  padding: 0.25rem 1rem;
  transition: all 0.15s ease;
}

.sort-option:hover {
  background-color: #e2e8ed;
}

main hr {
  opacity: 0.3;
  margin: 1rem 0;
}

/* filter section */
.display-section {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.filter-section {
  padding: 2rem;
  margin: 1rem;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 10px;
  min-width: 300px;
  max-height: 600px;
  position: sticky;
  top: 2rem;
}

.rating-filter-option,
.price-filter-option {
  margin-top: 0.85rem;
}

.rating-filter-option label span {
  letter-spacing: -3px;
  color: #eda042;
}

.filter-section hr {
  opacity: 0.2;
  margin-block: 2rem;
}

/* products section */
#product-section {
  padding: 1rem;
  background-color: white;
}

.product-list-div {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.product-list-div > div {
  width: 240px;
  justify-items: center;
  border: 1px solid rgb(213, 211, 211);
  cursor: pointer;
  border-radius: 10px;
}

.product-list-div div > img {
  width: 240px;
  border-radius: 10px;
  background-color: #e9eff4;
}

#item-category {
  font-size: 14px;
  color: #bfbfc1;
  font-weight: bold;
}

#item-category + h3 {
  font-weight: bold;
  font-size: 16px;
  padding: 0px 10px;
}

#price-rating {
  display: flex;
  gap: 100px;
  padding: 10px 0px;
}

#price {
  color: #2a977b;
  font-weight: bold;
}

#rate {
  color: #bfbec1;
  font-size: 16px;
}

#rate > i {
  color: #eda042;
}

/* Pagination container */
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 5px;
}

/* Pagination button styles */
.pagination button {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  color: #333;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect for buttons */
.pagination button:hover {
  background-color: #ddd;
}

/* Active page button style */
.pagination button.active {
  background-color: #2b987e;
  color: #fff;
  border-color: #2b987e;
}
